{% extends 'lecture/index.html' %}

{% block content %}

{% for lesson in lessons %}

<div class="detailstudy">
    <div class="beauty">
    <h1>{{ lesson.title }}</h1><hr>
    <h2>{{ lesson.subtitle }}</h2><hr>
    <p>{{ lesson.full_text }}</p><hr>
    <h3>Проверь себя!</h3>


{% if lesson.cards %}
<div class="kartochkayes">
    <img src="{{ lesson.cards.url }}" alt="">
</div>
</div>
</div>
{% else %}
<div class="kartochkano">
    <p>Фотографии нет</p>
</div>
{% endif %}
<div class="detailstdata">
    

<div class="detailstbtn">
    {% if now_time < test_time %}
        {% if count_attempt >= 1 %}
            <button class="lecturebtn">
                    <a href="{% url 'test' lesson.test.id %}"><p class="btn btn-success">Пройти тест</p></a>
                </button>
                <h3>У тебя осталось <span class="count_attempt"> {{ count_attempt }} </span> попытки</h3>
        {% else %}
            <h2>Тест недоступен, попытки закончены</h2>
        {% endif %}
    {% else %}
        <h1>Время теста истекло!</h1>
    {% endif %}
    <p>{{ lesson.date }}</p>
</div>
</div>
{% endfor %}



{% endblock %}

<!--<img src="{{ lesson.cards.url }}" alt="">-->