{% extends 'lecture/index.html' %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}
<div class="whole_page">

<div class="ul">
    <div class="li"><h5>Наименование теста - <span class="green_exception">{{ result_test.test }}</span></h5></div>
    <div class="li"><h5>Дата прохождения теста - <span class="green_exception">{{ result_test.date }}</span></h5></div>
    <div class="li"><h5>Время прохождения теста - <span class="green_exception">{{ result_test.date_user }}</span></h5></div>
    <div class="li"><h5>Количество баллов - <span class="green_exception">{{ result_test.result_test }}</span></h5></div>
</div>
{% endblock %}
</div>