{% extends 'lecture/index.html' %}

{% block title %}{{ title_page }}{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
<div>
    <div class="prarea">
        <div class="stable">
            <p class="user_data-primary"> First Name : <span class="red_exception">{{ user.first_name }}</span></p>
            <p class="user_data-primary"> Last Name : <span class="red_exception">{{ user.last_name }}</span></p>
      <p class="user_data-primary">Класс : <span class="red_exception">{{ user.catClassUser }}</span></p>
      <p class="user_data-secondary"> Username : <span class="red_exception">{{ user.username }}</span></p>
      <p class="user_data-secondary"> Email : <span class="red_exception">{{ user.email }}</span></p>
      {% if user.is_superuser %}

         <a href="{% url 'send_notify' %}" class="btn btn-primary">Уведомить</a>
         <a href="{% url 'send_mail' %}" class="btn btn-warning">Отправить почту</a>
         {% endif %}
    </div>
    
    <div class="right_flex">
      <h2>Фото: <img src="{{ user.photo.url }}" alt=""></h2>
    </div>


    </div>
</div>

{% endblock %}